# Data Science Challenge
The provided structure is offered as a guiding framework, but you are encouraged to tailor it to your preferences. Feel free to import alternative libraries, and feel empowered to include new cells that suit your specific requirements and creative insights. Your unique approach and explorations are highly valued.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report, confusion_matrix

## Import dataset

In [2]:
# Load the dataset
data = pd.read_csv('../data/dataset.csv')

# Display the first few rows of the dataset
data.head()

,Unnamed: 0,Status of existing checking account,Duration in months,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,...,Age in years,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,Foreign worker,Credit risk,Number of Accounts
0,0,A11,6,A34,A43,1169,A65,A75,4,A93,...,67,A143,A152,2,A173,1,A192,A201,1,1
1,1,A12,48,A32,A43,5951,A61,A73,2,A92,...,22,A143,A152,1,A173,1,A191,A201,2,2
2,2,A14,12,A34,A46,2096,A61,A74,2,A93,...,49,A143,A152,1,A172,2,A191,A201,1,1
3,3,A11,42,A32,A42,7882,A61,A74,2,A93,...,45,A143,A153,1,A173,2,A191,A201,1,1
4,4,A11,24,A33,A40,4870,A61,A73,3,A93,...,53,A143,A153,2,A173,2,A191,A201,2,2

# Task 1: Data Preprocessing
1- Handle missing values (if any)
2- Convert categorical variables to numeric using one-hot encoding
3- Split the data into features (X) and target variable (y)

# Task 2: Exploratory Data Analysis (EDA)
1- Perform statistical analysis
2- Visualize key features and their relationships with the target variable

# Task 3: Model Selection and Training

1- Choose a classification algorithm
2- Split the data into training and testing sets
2- Train the model using the training data

# Task 4: Model Evaluation

1- Evaluate the model's performance on the testing data
2- Compute and display essential evaluation metrics
3- Provide insights and conclusions based on the results